body {
  background-color: FloralWhite;
  background-size: cover;
  text-align: center;
}

h1 {
  font-style: normal;
  font-family: "Times New Roman";
  color: inherit;
  text-align: center;
}

table{
  background-color: Plum;
  margin-left: auto;
  margin-right: auto;
}

table, th, td{
  border: 4px black;
  border-collapse: collapse;
  height: 50px;
  text-align: center;
  color: inherit;

}

th, td{
  padding: 15px;
}

img{
  width:5%;
  height:5%;
  position:relative;
  left:20px;
  top:20px;
}

img{
  width:5%;
  height:5%;

}


img{
  width:5%;
  height:5%;

}


img{
  width:5%;
  height:5%;

}
